{% extends 'myblog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">

    <h3 class="my-5 anm text-white">Contact</h3>  

    <div class="mt-5">
        <p>Feel free to connect using the following links : </p>
           <a href="https://github.com/Zeba-26521" target="_blank"> 
            <button style="font-size:24px">Github <i class="fa fa-github"></i></button>
           </a>
           <a href="https://www.linkedin.com/in/zeba1495/" target="_blank">
            <button style="font-size:24px">LinkedIn <i class="fa fa-linkedin"></i></button>

           </a>       
    </div>

        
</div>

{% endblock content %}